.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form input,
  .form textarea,
  .form select {
    padding: 30px;
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid #2e374a;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
  }
  
  .form input,.form select {
    width: 45%;
  }
  
  .form textarea{
      width: 100%;
  }
  
  .form button{
      width: 100%;
      background-color: teal;
      padding: 30px;
      border: none;
      color: var(--text);
      cursor:pointer;
      border-radius: 5px;
  }